header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    height: 100px;
    padding: 20px;
}

header .logo img {
    width: 200px;
    height: 50px;
    object-fit: cover;
}

header .navigation .profil .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

header .navigation .profil .nom {
    display: flex;
    flex-direction: column;
}

header .navigation .profil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profil .menu {
    position: absolute;
    top: 100px;
    right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.profil .menu.active {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.profil .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 150px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.profil .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.profil .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.profil .menu ul li:hover img {
    opacity: 1;
}

.profil .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a {
    color: #ff5d94;
}

.menu ul {
    margin-block-start: 0;
}

header .logo {
    flex: 9;
}

header .navigation {
    flex: 3;
}

@media only screen and (min-width: 768px) {
    .profil .menu {
        position: absolute;
        top: 100px;
        right: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: auto;
    }
}