.container-publications {
    display: block;
    border: 2px solid black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: white;
    margin: 8px auto;
    border-radius: 15px;
    height: auto;
    width: 670px;
    -webkit-box-shadow: 5px 5px 7px -2px #A7A7A7;
    box-shadow: 5px 5px 7px -2px #A7A7A7;
}

.container-publications .profil .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 10px;
}

.container-publications .nom {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nom span {
    font-weight: bold;
}

label {
    color: #fff;
    background-color: black;
}

#inputFile {
    margin-left: 15px;
    color: #fff;
    background-color: black;
    display: none;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'CHOISIR UN FICHIER';
    display: inline-block;
    background: linear-gradient(top, #000000, #151212);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 8px;
    margin-left: 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px rgb(18, 15, 15);
    font-weight: 700;
    font-size: 10pt;
    color: white;
    background-color: #000000;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.container-publications .profil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postImage {
    display: flex;
    justify-content: center;
}

.postImage img {
    width: 300px;
    height: auto;
    border: 2px solid black;
}

.comment {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.reaction-container {
    width: 600px;
    border: none;
    padding: 15px 10px;
}

.likeDislike {
    display: flex;
    justify-content: center;
}

.likeDislike i {
    font-size: larger;
    margin: 10px 10px 0 10px;
    position: relative;
    bottom: -25px;
}

#modifier-btn {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    display: flex;
    justify-content: right;
}

textarea {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s;
}

.reaction-container #inputComment,
button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.reaction-container #inputComment {
    color: #fff;
    background-color: black;
}

#clear {
    color: #333;
    background-color: transparent
}