<div class="container-publications">

    <div class="profil">
        <div class="image">
            <img src="./../../../assets/images/144756_OxAbLYGQpYTlhs5c_938336.jpg" alt="Photo commentaires" />
        </div>
        <div class="nom">
            <span>{{nom}}</span>

        </div>
        <br> <br>

    </div>

    <div class="comment">
        {{post.texte}}
    </div>
    <div class="postImage">
        <img [src]="post.imageUrl" />
    </div>

    <div class="reaction-container">
        <div class="likeDislike">
            <i class="uil uil-thumbs-up"></i>
            <i class="uil uil-thumbs-down"></i>
        </div>
        <div class="btn">

            <button id="modifier-btn" (click)="onUpdate()"> Modifier</button>
            <button id="supprimer-btn" (click)="onDelete()"> Supprimer</button>

        </div>
    </div>
    <div class="addCommentContainer">
        <form>
            <textarea style="overflow:hidden" placeholder='Ajouter un commentaire'></textarea>
            <div class="addCommentBtn">
                <input type="submit" value='Comment'>
                <button id='AddCommentCancel' href='#'>Annuler</button>
            </div>
        </form>
    </div>


</div>