<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconscout CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <!-- END Iconscout CDN -->

    <!--Lato font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!--END Lato font-->
</head>

<body>

    <app-header></app-header>
    <main>
        <div class="container">

            <app-edit-post (output)="onReceivePost($event)" [_id]="currentPost?._id" [description]="currentPost?.texte" [image]="currentPost?.imageUrl"></app-edit-post>
            <br>
            <p> Publications récentes</p>
            <app-display-post *ngFor="let post of posts" [post]="post" (output)="onUpdateOrDelete($event)"></app-display-post>

        </div>
    </main>
    <script src='main.component.js'>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        };
    </script>
</body>

</html>