<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconscout CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
</head>

<body>

    <app-header></app-header>
    <main>

        <div class="container">

            <app-edit-post (textChanged)="setInputText($event)"></app-edit-post>





            <br>


            <p> Publications récentes</p>

            <app-display-post *ngFor="let post of posts" [post]="post"></app-display-post>



        </div>



    </main>
    <script src='main.component.js'>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        };
    </script>
</body>

</html>