* {
    font-family: 'Lato', sans-serif;
}

body {
    background: #ccc;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
}


/* fin header ============*/


/* ============== Middle ==================*/

.container {
    display: block;
    border: 3px solid white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin: 40px auto;
    border-radius: 15px;
    width: 700px;
    height: auto;
    background-color: aliceblue;
}

.container p {
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
}

.container .container-top {
    display: block;
    border: 2px solid black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: white;
    margin: 8px auto;
    border-radius: 15px;
    height: 70px;
    width: 670px;
    -webkit-box-shadow: 5px 5px 7px -2px #A7A7A7;
    box-shadow: 5px 5px 7px -2px #A7A7A7;
}

.container .container-top #inputComment {
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
    width: 350px;
    height: 30px;
    text-indent: 10px;
}

#inputProfil {
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
    width: 350px;
    height: 30px;
    text-indent: 10px;
}

.container-top .profil .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 5px;
}

#myButton {
    color: #ffffff;
    background-color: #020203;
    font-size: 14px;
    border: 0px solid #ffffff;
    border-radius: 9px;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 250px;
    top: -7px;
}

#myButton:hover {
    color: #2d63c8;
    background-color: #ffffff;
}

@media only screen and (max-width: 320px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}